@model Certifications

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="~/css/style.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <style>
        @@media print {

            @@page {
                margin: 0;
            }

            body {
                margin: 1.6cm;
            }

            .noprint {
                display: none;
            }
        }
    </style>

</head>
<body>
    <div id="divBacktoList" class="noprint" style="margin-left:50px;">
        <a asp-action="Index">Back to List</a>
    </div>
    <div class="row" style="margin:50px;">
        <h4>Certifications</h4>
        <hr />
        <div class="col-md-6">
            <div style="text-align:right"><img src="~/img/avatar.png" width="100" height="100" /></div>
            <div class="form-group">
                <label class="control-label">Name:</label>
                <label class="control-label">@Model.Username</label>
            </div>
            <div class="form-group">
                <label class="control-label">Location:</label>
                <label class="control-label">@Model.Location</label>
            </div>
            <div class="form-group">
                <label class="control-label">Type:</label>
                <label class="control-label">@Model.Type</label>
            </div>
            <div class="form-group">
                <label class="control-label">Description:</label>
                <label class="control-label">@Model.Description</label>
            </div>
            <div class="form-group">
                <input type="button" name="btnPrint" id="bntPrint" value="Print" onclick="javascript:return window.print();" class="btn btn-default noprint" />
            </div>
            <div style="text-align:right"><img src="~/img/bg_direction_nav.png" width="50" height="50" /></div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
</body>
</html>