@model Gym.Models.UserModel
@ViewBag.LoginErrorMessage
<div class="container-fluid">
	<div class="row" style="padding:20px">
		<div class="col-md-12">
			<form method="post" action="~/account/loginsave">
				<div asp-validation-summary="ModelOnly" class="text-danger">
					@ViewBag.LoginErrorMessage
				</div>
				<div class="form-group">
					<label asp-for="UserName" class="control-label"></label>
					<input asp-for="UserName" class="form-control" />
					<span asp-validation-for="UserName" class="text-danger"></span>
				</div>
				<div class="form-group">
					<label asp-for="Password" class="control-label"></label>
					<input asp-for="Password" type="password" class="form-control" />
					<span asp-validation-for="Password" class="text-danger"></span>
				</div>
				<div class="form-group">
					<input type="submit" class="btn form-control" value="Login" />

                        @*<input type="submit" value="Login" class="btn btn-default" />*@
                    </div>
                </form>
        </div>
	</div>
</div>



