@model List<Videos>

<h2>Demo Videos</h2>

<div style="width:100%;float:left">
    @foreach (var item in Model)
    {

        <div style="width:400px;float:left;margin:10px;">
            <video width="370" height="255" poster="placeholder.png" controls>
                <source src="~/admin/videos/@item.videopath" type="video/mp4">
            </video>
            <div style="padding:10px 5px;">
                <span>
                    @item.videodescription
                    <input type="hidden" id="hdnImageId" name="hdnImageId" value="@item.Id" />
                </span>
            </div>
        </div>

    }
</div>