
@{
    ViewData["Title"] = "Pricing";
    // Layout = "~/Views/Shared/Generalllayout.cshtml";
    Layout = "~/Views/Shared/_GuestLayout.cshtml";
}

<h3>Pricing</h3>

<section class="dishes">
    <div class="container-fluid" style="margin:10px!important">
        <div class="row">
            <div class="col-lg-12">
                <div class="row">
                    <div class="col-md-12">
                        <div class="aligncenter"><h2 class="aligncenter">Best offer  Shape</h2>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores quae porro consequatur aliquam, incidunt eius magni provident, <br />doloribus omnis minus ovident, doloribus omnis minus temporibus perferendis nesciunt..</div>
                        <br />
                    </div>
                </div>

                <div class="row service-v1 margin-bottom-40">
                    <div class="col-md-4 md-margin-bottom-40">
                        <div class="card small">
                            <div class="card-image">
                                <img class="img-responsive" src="~/img/service1.jpg" alt="">
                                <span class="card-title">Aerobics</span>
                            </div>
                            <div class="card-content">
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores quae porro consequatur aliquam, incidunt
                                </p>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores quae porro consequatur aliquam, incidunt
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 md-margin-bottom-40">
                        <div class="card small">
                            <div class="card-image">
                                <img class="img-responsive" src="~/img/service2.jpg" alt="">
                                <span class="card-title">GYM</span>
                            </div>
                            <div class="card-content">
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores quae porro consequatur aliquam, incidunt
                                </p>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores quae porro consequatur aliquam, incidunt
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 md-margin-bottom-40">
                        <div class="card small">
                            <div class="card-image">
                                <img class="img-responsive" src="~/img/service3.jpg" alt="">
                                <span class="card-title">Nutritionist</span>
                            </div>
                            <div class="card-content">
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores quae porro consequatur aliquam, incidunt
                                </p>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores quae porro consequatur aliquam, incidunt
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </div>

    </div>
</section>