@model List<Videos>
@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<h2> Upload Videos </h2>

<form method="post" enctype="multipart/form-data" asp-controller="Home" asp-action="VideoUpload">
    <div class="form-group">
        <div class="col-md-10">
            <p>Description</p>
            <input type="text" name="txtDescription" id="txtDescription" value="" />
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-10">
            <p>Upload video using this form:</p>
            <input type="file" name="fileupload" id="fileupload" accept="video/mp4" />
        </div>
    </div>
    <br />
    <br />
    <div class="form-group">
        <div class="col-md-10">
            <input type="submit" value="Upload" />
        </div>
    </div>
</form>

<div style="width:100%;float:left">
    @foreach (var item in Model)
    {

    <div style="width:350px;float:left;margin:10px;">
        <video width="320" height="220" poster="placeholder.png" controls>
            <source src="~/admin/videos/@item.videopath" type="video/mp4">
        </video>
        <div style="padding:10px 5px;">
            <form method="post" asp-controller="Home" asp-action="DeleteVideo">
                <span>
                    @item.videodescription
                    <input type="hidden" id="hdnImageId" name="hdnVideoId" value="@item.Id" />
                </span>
                <span>
                    <input type="submit" class="btn-danger btn-sm btnDelete" id="btnDelete_@item.Id" value="Delete" />
                </span>
            </form>
        </div>
    </div>

    }
</div>